options_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: 'production'
    product: 'https://6qmq20mldk.execute-api.eu-west-1.amazonaws.com/dev'',
    import: 'https://fsr1ooozpd.execute-api.eu-west-1.amazonaws.com/dev',
    cart: 'http://steverusin-card-api-dev3.eu-west-1.elasticbeanstalk.com/api',
